// 对count进行格式化
function formatCount(count) {
  // var numCount = Number(count)
  var numCount = parseInt(count)
  if (numCount >= 100000000) {
    return (numCount / 100000000).toFixed(1) + "亿"
  } else if (numCount >= 10000) {
    return (numCount / 10000).toFixed(1) + "万"
  } else {
    return numCount
  }
}


// 2. 通过算法实现
function padLeft(time) {
  time = time + ""
  return ("00" + time).slice(time.length)
}

// 对time进行格式化
function formatTime(time) {
  // 将毫米转为秒
  time = time / 1000
  // 1. 获取时间
  var minute =  Math.floor(time / 60)
  var second = Math.floor(time) % 60

  // 2. 拼接字符串
  return padLeft(minute) + ":" + padLeft(second)
}

// 必须导出后, 才能被其他地方调用: 必须使用CommonJS导出
module.exports = {
  formatCount: formatCount,
  formatTime: formatTime
}